@page "{id}"
@model WebServer.Pages.Magazines.DeleteModel
@{
}

<h1 class="mt-4">Do you want, to delete Magazine #@Model.Magazine.MagazineId ?</h1>
<form class="mt-4" method="post">
    <div class="form-row">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-secondary ml-2" asp-page="/Magazines/Magazines">No</a>
    </div>
</form>